# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Terraform local files
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.*
infra/crash.log
infra/override.tf
infra/override.tf.json
infra/*_override.tf
infra/*_override.tf.json

# Generated lambda package artifact
infra/lambda/invalidate-cloudfront.zip
