aws_region = "ap-southeast-1"

project_name = "azure-vnet-simulator"
environment  = "prod"

custom_domain_name = "app.nguyenviettung.id.vn"
route53_zone_name  = "nguyenviettung.id.vn"

# Example: main.d123456abcdef.amplifyapp.com
amplify_origin_domain = "main.REPLACE_ME.amplifyapp.com"
amplify_app_id        = "REPLACE_ME"
amplify_branch_name   = "main"

cloudfront_invalidation_paths = ["/*"]

tags = {
  Owner = "platform"
}
